
body {
    font-family: "Roboto-Regular",sans-serif;
    background-color: #f7f7f7;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #1F1F1F;
    margin: 0;
    height: auto!important;

}

/*Navigation*/
nav {
    padding: 10px;
}

.navbar-brand {
    font-family: "Source Code Pro", monospace;
    font-size: 30px;
    color: pink;
}

.navbar-inverse {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    border: none;
    overflow: hidden;
    opacity: 0.3; 
    z-index: 100;
}

.opacity {
  opacity: 1;
}

.navbar .nav > li > a {
    font-family: "Roboto-Regular",sans-serif !important;
    color: white;
    font-size: 14px;
   
}
.navbar .nav > li > a:hover {
    color: orange;
}
.navbar-toggle {
    border: none;
    outline: none;
}

a:link, a:visited {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*Section one | Opening page*/

#background {
    background-image: url("images/Opening1.jpg");
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
    height: 820px;
    width: 120%;
    margin-left: -10;
    margin-top: 0;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);

}

#background:hover   {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
}

.headerOne {
    background-color: none;
    font-family: "Source Code Pro", monospace;
    width: 40%;
    height: 10%;
    border-radius: 10px;
    margin-top: 100px;
    font-size: medium;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 
}


@-webkit-keyframes bounceInRight {
0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
            }
60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
            }
80% {
    -webkit-transform: translateX(10px);
            }
100% {
    -webkit-transform: translateX(0);
            }
}
         
@keyframes bounceInRight {
0% {
    opacity: 0;
    transform: translateX(2000px);
            }
60% {
    opacity: 1;
    transform: translateX(-30px);
            }
80% {
    transform: translateX(10px);
            }
100% {
    transform: translateX(0);
            }
}
         
.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}


.headerOne h1 {
    text-align: center;
    padding: 0px;
    font-size: 250% !important;
    font-weight: bold !important;
     
}


.headerOne h5 {
    text-align: center;
    padding: 0px;
    font-size: 150% !important;
    margin-top: 120px;

}

.headerOne p {
   text-align: center;

}

/*section two | About Me*/

#headerTwo {
    background-color: white;
    width: 80%;
    height: 95%;
    border-radius: 10px;
    margin-top: 100px;
    padding: 10px;
    margin-left: 300px; 
 
}

#member {
    height: 545px;
    width: 450px; 
    display: inline-block;
    top: 82px;
    left: 50px;
    background-image: url("images/franka2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
}

#headerTwo h4 {
    text-align: left;
    color: black;
    display: inline-block;
    margin-left: 150px; 
    color: #4d5530;
    font-family:'Roboto-Regular',sans-serif !important;
}

#headerTwo h1 {
  display: inline-block;
  text-align: center;
  font-size: 200%;
  margin-top: 10px;
  margin-bottom: 30px;
}

/*Button*/ 

.button1 {
  display: inline-block;
  padding: 8px 80px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #4d5530;
  margin-left: 650px;
  margin-top: 0px;
  margin-bottom: 70px;
}

.button1:hover {
  background-color: orange;
}

.button1:active {
  background-color: #4d5530;
  box-shadow: 0 5px #4d5530;
  transform: translateY(4px);
}

/*Section Three | Testimonals*/

#myCarousel   {
  margin-top: 100px;
  margin-left: 80px;
  height: 550px;
  width: 1550px;
  background-color: #4d5530;
  display: inline-block;
}

#myCarousel h1 {
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 200%;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 550px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 80%;
      height: 72%;
      margin-top: 10px;
      margin-bottom: 50px;
      margin-left: 160px;

    }

a:link, a:visited {
    color: orange;
}


.carousel-caption { /*tekst in de carousel*/
    background-color: none;
    width: 40%;
    height: 10%;
    border-radius: 10px;
    margin-bottom: 200px;
    color: black;
   
}

/*section Four | Experience*/

#headerFour {
    background-color: white;
    width: 70%;
    height: 90%;
    border-radius: 10px;
    margin-top: 100px; 
    margin-left: 350px;
    display: inline-block;
 
}

#headerFour h1 {
  text-align: center;
  color: black;
  font-size: 200%;
  margin-left: -50px;
  margin-bottom: 50px;

}

#headerFour h3 {
    text-align: left;
    color: black;
}

#headerFour h4 {
    text-align: left;
    color: #4d5530;
}

.button2 {
  display: inline-block;
  padding: 15px 100px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #4d5530;
  margin-left: 330px;
  margin-top: 40px;
}

.button2:hover {background-color: orange}

.button2:active {
  background-color: #4d5530;
  box-shadow: 0 5px #4d5530;
  transform: translateY(4px);
}

/*Section Five*/


#imageGallery   {
  background-color: white;
  padding-top: 20px;
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 200px;
  height: 95%;
  width: 90%;
  display: inline-block;
  font-family: "Roboto-Regular",sans-serif !important;

}

#imageGallery h1 {
  text-align: center;
  color: black;
  font-size: 200%;
  margin-left: -50px;
  margin-bottom: 30px;

}

#imageGallery h4 {
  color: #4d5530;
}


.img-rounded  {
  border: none;
  margin: 0 auto;
  padding: 30px;
}

.img-rounded:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

/*@media*/

@media screen and (max-width: 760px) {
 
/*#headerTwo {
  width: 60%;
  margin-right: 25px;
}

*/

/*#member {
  width: 300px;
  height: 400px;
  margin-bottom: 20px;
  
} 

/*#headerTwo h3, h4 {
  text-align: center;
  margin-left: 25px;
  margin-top: 20px; 
  padding: 0px;
  width: 300px; 
 

}*/

/*.button {
  display: inline-block;
  padding: 15px 50px;
  border-radius: 5px;
  margin-left: 90px;
  margin-top: 20px;
}*/
/*
/*#header {
    width: 300px;
/*    height: 500px;*/
/*    margin-top: 100px; */
  /*  display: inline-block;*/
/* 
}*/
